In [10]:
import pandas as pd
import numpy as np
import random

In [11]:
df1 = pd.DataFrame({"1":[2,3,4,5,6,7],
                    "2":[3,4,5,6,7,8],
                    "3":[4,5,6,7,8,9],
                    "4":[5,6,7,8,9,10],
                    "5":[6,7,8,9,10,11],
                    "6":[7,8,9,10,11,12]},index = [1,2,3,4,5,6])
df1

   1  2  3   4   5   6
1  2  3  4   5   6   7
2  3  4  5   6   7   8
3  4  5  6   7   8   9
4  5  6  7   8   9  10
5  6  7  8   9  10  11
6  7  8  9  10  11  12

# MATRIX

In [13]:
ma = np.array([[2,3,-5],
               [3,5,6],
               [9,0,1]])
ma

array([[ 2,  3, -5],
       [ 3,  5,  6],
       [ 9,  0,  1]])

In [15]:
a = np.random.randint(-9,9, size = (3, 5))

In [16]:
a

array([[-4, -3,  4,  3,  6],
       [ 1,  4, -1, -5,  8],
       [ 7,  8, -1,  4,  7]])

# Identity Matrix

In [17]:
I = np.eye(3)  #identity matrix with 3 rows and 3 columns
I

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [18]:
I_2 = np.eye(4, 6) # identity matrix with 4 rows, 6 columns
I_2

array([[1., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0.]])

#Zero Matrix

In [21]:
Z_0 = np.zeros((3,4)) #extra bracket(tuple) inside is a must unlike identity matrix
Z_0

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])